[2018-10-06 21:29] akeshavan opened #2 "different schema patterns for each item"
https://github.com/sanuann/schema-standardization/blob/master/activities/PHQ-9/items/phq9_category.jsonld looks like:

[code]

but https://github.com/sanuann/schema-standardization/blob/master/activities/PHQ-9/items/phq9_1.jsonld looks like:

[code]

does all the good stuff go with @context? or should it be outside of it?

[2018-10-06 21:59] sanuann commented on #2
phq9_1.jsonld is the correct one. I am working on cleaning up the other items.

[2018-10-09 23:29] akeshavan opened #3 "Continuous integration/testing"
Can you add tests to make sure 1) all JSONs are valid and 2) all links are valid 3) all jsonlds have the same schema

And then hook up to Travis or circle

[2018-10-10 01:45] #2 closed

[2019-01-19 18:50] satra opened #23 "activity folder names should be in UpperCamelCase"

[2019-01-22 05:14] sanuann commented on #23
Done.

[2019-01-22 05:14] #23 closed

[2019-02-20 03:15] akeshavan opened #39 "input types questions"
I took a look at all ui.inputType entries in all the jsonld files in the items/*

[code]

A few questions:
1) what is `multiple choice`, is that the same as a radio? or checkboxes?
2) `single choice, text entry`, is that the same as `text`?
3) same for `'text entry.'`
4) `xsd:int` is an integer, and `number` can be any number?

Can we add an item for `audioRecord`?

[2019-02-20 03:37] sanuann commented on #39
1, 3 - yes. i will resolve it tomorrow morning.
2 - some questions have a radio button for answer choices plus a text field for "don't know"
4 - i have to check

[2019-02-20 23:15] akeshavan commented on #39
I think we should specify in the schema whether we want a "skip" option and a "don't know" option. Also I think don't know should be a checkbox. I'm not sure why it's a text field on Mindlogger.

[2019-02-21 15:06] shnizzedy commented on #39
Related https://github.com/ChildMindInstitute/mindlogger-app-backend/issues/33

I strongly think 0‒many non-response options should be user-defined. For example, "skip", "don't know", and "not applicable" and other non-response options could all be relevant, valid, and differentially informative responses to a question, and an Editor may or may not want to allow Users to choose among some subset o

[2019-02-25 15:57] akeshavan opened #41 "add a consent form section to an activity set"
at the activity-set level, we should have a key that links to the text of a consent form

[2019-02-25 16:17] sanuann commented on #41
do you mean similar to the preamble in the activity level?

[2019-02-25 18:00] akeshavan commented on #41
no, we will only display it once to the user, maybe as a popup or something. Right now we are taking UI components from this repository and adding in Mindlogger authentication so we can save data (https://mindlogger-web.anisha.pizza && https://github.com/ChildMindInstitute/mindlogger-web)

[2019-02-27 16:25] satra opened #44 "web listing of schemas"
should create a gh-pages branch and create a static html view of the schemas and activity sets with links to viewing them using the ui-recorder.

something like:

Current activity sets:
[  Search box ] Number of items to display
- Name of activity set1 (hyperlinked to opening this in a new window with schema-ui)

Current activities:
[  Search box ] Number of items to display
- Name of activity1
-

[2019-02-28 16:23] akeshavan opened #45 "encode activity locking/unlocking at the activity set level"
As a first pass:

For the voice pilot case, lets encode that the `voice_task` activity should initially be "locked" and a spot for a URL to "unlock" it:

[code]

the "unlock" endpoint will receive data from all activities and could be hit after completion of each activity. If it returns `["voice_task_schema"]` then that activity will be shown

[2019-02-28 22:27] akeshavan opened #46 "encoding frequency of assessments"
we should encode whether or not an activity can only be completed once or can be completed multiple times.

If it can be completed multiple times:
- how many times in total?
- is there a minimum time-period a user must wait to take it again?
- is there an N times per day/week/month sort of thing

[2019-03-01 16:45] shnizzedy commented on #46
We're already using [XML Schema Definition Language (XSD)](https://www.w3.org/TR/xmlschema11-2/), which should allow us to encode these kinds of constraints. @akeshavan do you have an example of an activity with these kinds of restraints in mind?

[2019-03-01 17:57] sanuann commented on #39
there is a key "requiredValue" in the valueConstraints.jsonld which denotes if it can be skipped or not. perhaps we can rename the key to "skippable" and move it from valueConstraints to the item schema (eg. to phq9_1.jsonld)?

[2019-03-01 21:49] akeshavan commented on #46
For @satra 's voice pilot, we only need a single timepoint

But let's take the HBN sleep behavior as an example: we only need it 1x/day but the exact time doesn't matter. Perhaps we should schedule a call with cameron's group to see what kind of examples they have

[2019-03-01 21:57] satra commented on #46
for the pilot, yes. but not in general. in fact we would really like to turn this into a self-annotation app at some point in the not too distant future. in this futuristic world,

a person will press a button to indicate some state, and that will trigger a set of data collection of some kind. it may trigger a one time collection, a daily collection, etc.,. so in general there needs to be a specif

[2019-03-01 23:04] akeshavan commented on #46
If we go with cron, we could implement with: https://www.npmjs.com/package/node-schedule or https://github.com/kelektiv/node-cron which would be pretty convenient..

Perhaps a `frequency` cron-like spec and a `reminderInterval` spec

I want a real-life, compelling use case for this. I don't want to add complexity for a fringe use-case!

[2019-03-01 23:19] akeshavan commented on #45
Now that we have activity-level branching logic, we can copy that pattern to the activity set level:

[code]

This says:
* always show the `nda_guid` activity
* show `phq9_schema` if the user is 18 years or older (in this case its a JS string that needs to be eval'd with the moment.js library in scope)
* test if `voice_task_schema` should be shown by POSTing the data from `nda_guid` and `phq9_sche

[2019-03-01 23:24] akeshavan opened #49 "add a README"

[2019-03-02 03:51] satra commented on #46
see the HBN-SSI assessments for voice (i know i wrote them, so you may still consider it a fringe use-case).

but in general for almost any daily recording, one would likely want to sample different items. the random presentation times was something that's in mindlogger presently.

however, you don't have to implement that right away, just keep it in mind. i want to first make sure all cross-secti

[2019-03-02 21:00] satra opened #52 "SHACL validation"
also we should have at least one example with SHACL validation, and add SHACL validators for activity-sets and activities

[2019-03-02 21:02] satra commented on #3
@sanuann - can we implement this now? perhaps with shacl validation - see #52.

[2019-03-04 15:03] shnizzedy commented on #46
Reading through these examples, I think maybe this issue and https://github.com/ChildMindInstitute/mindlogger-app/issues/25 could be generalized into assessment access constraints, which could be frequency-of-assessment, but could be related to notifications, reminders,
hardware, other assessments, etc., eg,

- number of times completed (in a specified time period)
- time since last completed
- ti

[2019-03-04 15:04] shnizzedy commented on #46
:+1:

[2019-03-04 16:51] satra commented on #46
@shnizzedy - i like the idea of combining those things. perhaps this is one way of specifying it:

1. constraints (cannot be ignored by an implementer - if these are not satisfied then the particular implementation should raise an error if such an activity/activity-set is being exercised)
- hardware (mic required, accelerometer required, specific devices, etc.,.)
- timing and branching logic
- ui

[2019-03-05 17:27] ccraddock commented on #46
Here are a few of the things that we would need for scheduling, I apologize for any duplication with the previous posts.

Issues that we have had with the Beiwe system are:
- it only allows you to schedule by the day of the week,
- surveys hang around until they are completed
- there is a good deal of variance in the time of day when surveys appear
- poor logging of the survey presentation times

[2019-03-05 17:29] ccraddock commented on #46
also would be nice to have macros to be able to add the date and time to survey text

E.g.

"This is the survey for {day} and {time}, you will have {timeout} minutes to complete it before it disappears".

[2019-03-05 17:35] satra commented on #46
@ccraddock - that's a great idea. i think this could go into the UI hints section. something like mindlogger would use it, but some other tool may not. we may need to work out some details, but i can see that we may consider a header/footer section description in the UI, where things like this goes.

[2019-03-14 17:15] akeshavan commented on #41
@satra - do you have the consent form for this pilot, or should we make something like this: https://www.dropbox.com/s/kpfwcavscg32fj7/VoiceUp_wiresFrames_StoryBoardUpdated_040716.pdf?dl=0 ? Are we already through the IRB process?

[2019-03-14 17:20] akeshavan opened #55 "add a mapping between activity id and activity name (defined by the user)"
"nda_guid" : "Your Personal Information"

[2019-03-18 16:54] sanuann commented on #49
needs modification/addition. Closing this for now.

[2019-03-18 16:54] #49 closed

[2019-03-19 13:26] sanuann opened #59 "add remaining activities related to voice study"
- BADS
- PROMIS measures

[2019-03-20 17:56] akeshavan commented on #45
@sanuann @satra  I've added:
[code]

but when jsonld parses this, I don't see the object as the value of `"nda_guid"` (but I do see that `true` is the value for `"phq9_schema"`) -- where do I need to specify that the values of items in "visibility" can either be strings, booleans, or objects?

[2019-03-20 19:16] sanuann commented on #45
you need to define it in the corresponding context file

[2019-03-21 12:37] sanuann commented on #45
@akeshavan check this example http://tinyurl.com/y6hl8crm

[2019-03-22 16:37] akeshavan commented on #45
got it! thanks!

[2019-03-24 19:18] sanuann opened #68 "scrollbar for long passages"

[2019-03-24 19:19] sanuann opened #69 "Add all activities for the voice study"
PROMIS - V1
PROMIS - V2

[2019-03-24 19:53] #68 closed

[2019-03-24 19:53] sanuann opened #70 "Optional validation of nda-guid info - upload birth certificate."

[2019-03-24 19:54] sanuann opened #71 "Selenium testing"

[2019-03-24 19:55] sanuann opened #72 "SHACL validation"

[2019-03-24 19:56] #55 closed

[2019-03-25 17:21] sanuann opened #76 "assign base url in context"

[2019-03-25 20:06] #76 closed

[2019-03-25 20:07] #72 closed

[2019-03-25 20:08] sanuann commented on #72
Duplicate of #52

[2019-03-25 20:39] #45 closed

[2019-03-29 14:41] akeshavan opened #85 "Add pages for LORIS compatibility"
example, in PHQ-9 activity, under the "ui" key:

[code]

[2019-03-29 14:41] akeshavan commented on #85
@zaliqarosli

[2019-03-29 14:46] akeshavan opened #86 "LORIS compatibility: static elements / layout elements"
@zaliqarosli

* we need an inputType: null in an item
* and any other information in there to render the LORIS layout element

[2019-03-29 14:49] akeshavan opened #87 "LORIS compatibility: table inputType"
schema -- whatever you need

[2019-03-29 14:52] akeshavan opened #88 "LORIS compatibility/ general need"
We need a way to serialize a jsonld into a single file. @satra please guide us!

[2019-03-29 17:47] shnizzedy commented on #88
Why?

[2019-03-29 17:49] sanuann commented on #88
Even I thought so. Why?

[2019-03-29 20:11] zaliqarosli commented on #85
@akeshavan hey anisha, where (in which files?) should I be making these changes for these upcoming PRs?

[2019-04-01 13:40] akeshavan commented on #88
This is a request from the LORIS team! It would be great to use they same schema — that way LORIS assessments can be in Mindlogger and vice versa.

[2019-04-01 14:00] shnizzedy commented on #88
I'd vote for middleware for this request, some script that compiles a file at whatever level of depth LORIS wants.

[2019-04-01 14:09] akeshavan commented on #88
Yep!

[2019-04-01 14:45] shnizzedy commented on #85
Like in [#88](https://github.com/ReproNim/schema-standardization/issues/88#issuecomment-478591453),

Does LORIS want a max of 2 questions per page, like in [the example above](https://github.com/ReproNim/schema-standardization/issues/85#issue-427020154), or how do we determine where to paginate?

[2019-04-01 15:53] akeshavan commented on #85
Pagination can be a key added at the "activity" level. @zaliqarosli if you want to make a copy of the PHQ-9 folder (call it PHQ-9-LORIS or something), add a "pages" key in the "ui" object of the activity schema: (e.g. https://github.com/ReproNim/schema-standardization/blob/master/activities/PHQ-9/phq9_schema.jsonld) and also add it to the context (https://github.com/ReproNim/schema-standardization

[2019-04-01 15:54] akeshavan commented on #85
@shnizzedy in LORIS, the researcher is able to choose which items go on which pages. Its not something we need in Mindlogger, so we won't use it, but it will be there for compatibility with LORIS

[2019-04-02 14:49] #70 closed

[2019-04-03 17:30] akeshavan opened #104 "Fix the audio map image"
Look at the map in the image below, and give directions in 1 min to another person over the phone as to how you would go from Start to End.

[2019-04-08 16:32] #59 closed

[2019-04-09 23:40] sanuann commented on #69
there is only 1 version of PROMIS with the selected questions(as in google doc) for now.

[2019-04-09 23:40] #69 closed

[2019-04-09 23:41] sanuann commented on #39
@zaliqarosli you may list other types here if you can.

[2019-04-10 13:37] satra opened #114 "voice protocol updates"
@sanuann  - updates needed for voice protocol:
- [x] 1. demographics should only ask for sex and handedness
- [ ] 2. the displayed content for the study should be updated
- [ ] 3. An approximate consent should be created (this will be updated after review by IRB)
- [x] 4. Screening should be connected to remote server
- [x] 5. data collection should be tested on remote server (requires zip export)

[2019-04-10 16:04] sanuann commented on #114
is point 8 also required along with the demographics info (point 1)?

[2019-04-10 16:20] satra commented on #114
actually for this protocol we may need all of these:

Age; Race/Ethnicity; Gender; State; Country of Birth; Native Speaker/Accent; Diagnosed with any mental-health disorder; Any health condition; Medication usage

[2019-04-10 16:28] akeshavan commented on #114
for 4. do you mean that the remote server needs to be created/deployed?

[2019-04-10 16:40] satra commented on #114
i'll take care of 4.

[2019-04-10 21:22] zaliqarosli opened #118 "items moved to root level for reusability"

[2019-04-10 21:56] zaliqarosli commented on #39
We also need this in LORIS but we call this collection of two input elements a "group". (For document sake) In yesterday's call, we suggested that "dontknow" type answers should be its own field item with inputType: whatever we choose, e.g. checkbox or button.

required fields work a little differently in loris. if the field is not required, it is skippable. if the field is required, it is part of

[2019-04-11 03:18] sanuann commented on #114
what should go in for point 2?

[2019-04-11 11:50] satra commented on #114
the front page should be updated to reflect what you want the person to do. i.e. instructions.

[2019-04-11 18:39] akeshavan opened #122 "remove language specific to paper forms"
I think things like "(Use “✔” to indicate your answer)" are confusing because it only makes sense on paper forms

If we want to keep the paper form verbage exactly, we should add another field for the "paper version" of the text.

[2019-04-11 18:57] sanuann commented on #122
I know. had seen this. will change it.

[2019-04-11 19:02] #122 closed

[2019-04-11 23:55] satra commented on #114
remote server check will return a token with an expiry time:

[code]

the user has to finish the assessment within the expiry time and submit

[code]

token becomes invalid either after expiry time or if it has been submitted.

[code]

for the moment you can reset state simply by doing a GET on

[code]

but you can also reset internal params by doing:

[code]
these will obviously be disabled in pr

[2019-04-15 21:16] satra opened #130 "Schema release"
- [ ] Reorganize Repos
    - [ ] Use purl or some redirect mechanism
    - [x] use versioned URLs
- [x] Schema validator
- [ ] Break current library into approved and non-approved bits.
- [x] Review and discuss addition to schema from LORIS team
- [x] Schema concept documentation
- [ ] Schema search
- [x] Activity/Study creation howto

[2019-04-16 19:55] shnizzedy opened #135 "preferredCitation"
For any arbitrary entity, we should have a way to specify a literal preferred citation.

@satra, I know you [said](https://github.com/ChildMindInstitute/mindlogger-app-backend/issues/94#issuecomment-468071770) you

but I think [http://id.loc.gov/ontologies/bibframe/preferredCitation](http://id.loc.gov/ontologies/bibframe.html#p_preferredCitation) might be the way to go on this issue

[2019-04-17 17:01] akeshavan opened #136 "what's the difference between schemaVersion and version?"
@satra @sanuann

[2019-04-17 17:11] sanuann commented on #136
https://github.com/ReproNim/schema-standardization/blob/master/schemas/Activity.jsonld#L32

[2019-04-17 17:15] akeshavan opened #137 "adding variableMap to every activity and activity set"
for every activity and activity set, we need the variableMap (which in our case because of naming consistency is an identity mapping)

[code]

later on when have these jsonld's hosted somewhere else, it will look like:

[code]

[2019-04-17 17:16] akeshavan commented on #137
and note that the ugly_unique_id prefix will get expanded to the URI

[2019-04-17 18:13] satra opened #138 "Names for schema, library, schema-ui"
we need to decide on a few names for things:

- [ ] the schema standard for assessments
- [ ] the library of assessments and
- [ ] library of applets/studies
- [ ] module for ui to interact with applets/studies

many components of this is joint work with our partners at CMI and McGill. so if they are not on this, please ping them as well.

[2019-04-17 19:55] akeshavan commented on #138
@zaliqarosli @shnizzedy

[2019-04-17 19:58] akeshavan opened #139 "PROMIS response options"
For questions on PROMIS like "What is the total number of general doctor visits you made in the last 12 months?" there is no option for 0! Shouldn't there be?

[2019-04-17 20:06] sanuann commented on #139
check the questions in this document listed on page 3: https://docs.google.com/document/d/1Nv-zhYVi3JQdb4ZJGiBAAAYoQf2H6vnxdreS14qIBf0/edit
should ask abhi.

[2019-04-18 21:00] shnizzedy commented on #138
:100:

Regarding

is the idea for ONLY ONE such library to exist, or is the question what to name this particular such library?

[2019-04-18 21:18] satra commented on #138
in the ideal world we would want scientists to contribute to one library, but the schema and it's instantiation as jsonld does not preclude the URL to be anywhere specific. i would also separate out library of activities from library of studies/applets

i definitely would like a common library of activities (mostly standardized and reusable things) and a separate common library of studies/applets

[2019-04-19 21:49] satra commented on #46
@ccraddock - did you look into the cron format? are there use cases you have that cron does not handle (besides randomization, time limit/duration)

[2019-04-20 20:52] #136 closed

[2019-05-03 14:10] satra commented on #135
@shnizzedy - sounds good.

@sanuann - can you add this to the validator and to an example (like the phq9)?

[2019-05-03 14:13] satra commented on #135
@shnizzedy - is there a reason why we shouldn't use the basic:

https://schema.org/citation

[2019-05-03 14:43] shnizzedy commented on #135
I'm talking here about encoding a preferred way to cite the entity with the property:

[code]

`schema:citation` is for citing one creative work from another:

[code]

I think we probably _should_ use `schema:citation`, but not for this use case.

[2019-05-03 14:46] satra commented on #135
schema.org also allows "text"

[2019-05-03 14:48] shnizzedy commented on #135
Sure, but what I'm asking for here is a place to define a preferred citation for a thing itself, not for citing something else. The definition of `schema:citation` includes the word 'another' _twice_!

[2019-05-03 15:02] satra commented on #135
i completely agree that `schema.org/citation` is not very well defined, but i think it is intended to serve the same purpose.

to work through two examples:

1. the PHQ-9 is a published form: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1495268/

so the PHQ9 activity would have as property:

schema:citation "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1495268/"

2. now for a custom activity or ac

[2019-05-03 16:43] shnizzedy commented on #135
Ah, I see what you're saying. We just use `citation` where there's an external citation, and we use the applet's metadata otherwise. In that case, we should probably include some authorship and agent-of-responsibility metadata so the citations don't assume the person who encoded the entity authored the entity.

[2019-05-03 19:31] satra commented on #135
@shnizzedy - this is why i almost want every activity/sctivityset to get dois via zenodo and a citation that includes different contributors acknowledged. i did get reprosets, but we should have a call to brainstorm workflow and organization.

[2019-05-03 21:14] #139 closed

[2019-05-08 19:39] satra opened #172 "cron specification for schema"
would a cron specification like the following work?

at the activity set or activity levels:

[code]

`random_delay` and `limit` are specified as time deltas of the form
`[[[[[YY-]MM-]DD-]HH:]MM:]SS`

@zaliqarosli @akeshavan @sanuann @shnizzedy - let us know if this sounds ok.

[2019-05-09 16:53] stufreen opened #174 "Item types"
We're developing a [Flanker](https://en.wikipedia.org/wiki/Eriksen_flanker_task) activity for mindlogger that will initially comprise:

1. Welcome text/practice instructions
2. Practice Flanker task
3. More instructions
4. Actual flanker task

Each of these steps is planned to be an "item" in the activity schema.

The question is, should these items have type of Field (https://raw.githubuserconten

[2019-05-09 18:13] zaliqarosli commented on #172
looks fine to me! i'll let you know if we need something different but i don't think that's the case

[2019-05-09 20:01] zaliqarosli commented on #172
@satra could you please elaborate on what this is for?

[2019-05-09 20:15] satra commented on #172
@zaliqarosli - this would be primarily used in settings where activities are repeated in an activity set (for example, daily monitoring, monthly reminders, etc.,.)

[2019-05-09 21:55] ccraddock commented on #172
How would you specify that a activity should expire after some period of time?

Essentially, make this activity available at a specified time and make it unavailable some delta_time later?

[2019-05-09 23:41] satra commented on #172
@ccraddock - see `limit` in the table above.

ps. we would ensure the names are all appropriate before incorporating this into the schema.

[2019-05-10 00:04] ccraddock commented on #172
I saw limit, but perhaps I misunderstand your use of the word 'start'. I am dividing the task timing into two phases (although Arno would argue for more, I am limiting to the two for now), one in where the activity becomes available to user to complete, and the other is when the user actually begins performing the activity. I interpret your definition of limit to mean that it limits the duration a

[2019-05-10 00:09] ccraddock commented on #172
actually, the amount of time that a user has to complete the activity once it is started would probably be handled by a different aspect of the system. So it could be that the 'limit' term that you defined could be used for the amount of time that a activity is available to complete, and the time window for completing the task once completed would be defined within the activity definition.

[2019-05-10 00:13] satra commented on #172
@ccraddock - i think i follow. i have reworded it as activity available. so `limit` is describing how much time the user has to start the activity after it being available.

for a given activity/activityset, the node itself could define how long the user has to complete once started. for example, like a timed exam. we can introduce a keyword for that property (e.g. `timelimit`).

[2019-05-10 00:19] satra commented on #172
an example if timing is already included in some of the value constraints. this is for an audio task:

https://github.com/ReproNim/schema-standardization/blob/master/activities/voice_task/items/pataka_valueConstraints.jsonld#L7

but it would likely be useful to have something that can be set at any level of the hierarchy and how it would interact with/constraint other things. i will try to clean u

[2019-05-15 23:04] akeshavan opened #183 "host the master branch of this repo on github pages"
If we host the master branch of this repo on github pages, things will load faster, and I think the cache will refresh faster, too! @satra @sanuann can you change the setting?

[2019-05-15 23:27] satra commented on #183
i've enabled it, but because of repronim this gets served through: http://repronim.org/schema-standardization/ but the links would still go as currently defined.

also:
1. we are going to use purl to redirect things
2. have reprosets the organization.
3. i don't think we took a decision on what to name the "thing"

once sanu is done with the audio widget and backend server, we can focus on cleanin

[2019-05-21 15:51] akeshavan commented on #183
kind of -- editing the jsonld's on a slow cache is a pain!

[2019-05-21 21:35] satra commented on #183
thanks @akeshavan - let's all brainstorm how best to store, retrieve, edit, and track changes on the jsonld files - there may be other means to do this. we don't have to use github, but it's a nice backend that takes care of a few things.

[2019-06-16 12:39] Remi-Gau commented on #130
Posting that here ad it seems to relate to the 'activity/study' creation howto.

At the last hackathon we started working on turning the COBIDAS report checklist on neuroimaging methods and results reporting into some sort of user friendly webapp.

Tom Nichols pointed us towards this repo and we have been playing around to get a proof of concept thing off the ground: see [here](https://github.com/

[2019-06-16 13:20] satra commented on #130
@Remi-Gau - thanks for posting here. perhaps @sanuann can help guide your group towards both generation and viewing of an activity set.

[2019-06-16 16:41] sanuann commented on #130
@Remi-Gau would you like to schedule a call tomorrow to discuss? my contact: abraham.sanuann@gmail.com

FYI - the `branchLogic` key is no more used for the branching logic. (sorry for not updating the `generic.jsonld` context file. have updated it now). `ui.visibility` is used instead. check [this](https://github.com/ReproNim/schema-standardization/blob/master/activities/PHQ-9/phq9_schema.jsonld#L

[2019-06-16 18:49] Remi-Gau commented on #130
Yup can totally do tomorrow but depends on which time zone you are in.

Will check if some other people in the project want to join but I think a one on one would be really good anyway.

Thanks a lot for a the super quick reply.

@+

Remi

PS. Assume know 0 about JavaScript or about the whole schéma thing in general. Thought I should mention this.

Sent from my Samsung Galaxy smartphone.

--------

[2019-06-16 19:12] sanuann commented on #130
I am in EST zone. any time after 8am EST works for me. Let me know.

[2019-08-16 11:38] Remi-Gau opened #236 "schema for a checklist for neurovault metadata"
Hello,

I finally took the time to write a [script](https://github.com/Remi-Gau/COBIDAS_chckls/tree/master/python/create_neurovault_schema.py) to turn the neurovault [list of required inputs](https://github.com/Remi-Gau/COBIDAS_chckls/tree/master/xlsx/metadata_neurovault.csv) into a schema that can then be render with the schema-ui.

Are you interested in adding it in the tool folder?

Other relat

[2019-08-16 15:16] sanuann commented on #236
@Remi-Gau sure can add your scripts to our tools. FYI: I have moved tools to a different repository linked [here](https://github.com/ReproNim/reproschema-builder). Please send a PR to the repo.

[2019-08-17 17:31] Remi-Gau commented on #236
I sent the PR.

That visualization really helps for sure! Thx

[2019-10-29 12:29] satra commented on #138
following up on this, we will soon be changing
1. name of this repo to reprolib
2. name of activity-sets to protocols

[2019-10-29 15:51] #236 closed

[2019-10-29 16:13] Remi-Gau opened #274 ""downstream" schemas break when changes are made in this repo"
I just realized that the [COBIDAS app](https://cobidas-checklist.herokuapp.com/#/) does not "work" anymore eventhough I have not changed anything.

By having a look around it seems that some changes were made in the ReproNim/schema-standardization that the COBIDAS schema points to. I have tried to see how to fix that and I am sure that with enough I can get it to work but I am also thinking of way

[2019-10-29 16:23] shnizzedy commented on #274
Related: #3, #52, #138, #174

[2019-10-30 16:33] sanuann commented on #274
@Remi-Gau
The major changes which I made was to :

- remove the `.jsonld` extension from all files
- rename the activity/activity-sets directories and/or files
- use prefix `reproschema` to point to `https://raw.githubusercontent.com/ReproNim/schema-standardization/master/schemas/`.

This change was pushed to the master branch. it should not have affected your app (as I see it points to a differen

[2019-10-30 21:42] satra commented on #274
i think we should do more of the breaking changes immediately so that we can get back to a more stable state. (repo renaming to `reprolib` and activity-set to protocol) and then update the schema-ui reproterms. i also what to change schema-ui to `reproschemaui`.

and after this we should fix the remaining issues with validation (e.g., scoring_logic) and release a stable schema so that we can start

[2019-10-31 07:43] Remi-Gau commented on #274
Thanks @sanuann for the list of changes. This will definitely help fix things.

@satra I guess I will wait till all the "breaking is done" before I start working on a dummy schema. :-)

Most likely I will also wait for those to be done before I really start fixing the things on the COBIDAS front.

[2019-11-02 15:01] satra commented on #274
@Remi-Gau @shnizzedy @zaliqarosli - we are done with most of the breaking changes

we now have a service: https://schema.repronim.org/rl/
and a ui service: https://schema.repronim.org/ui/

- the schema service is like schema.org + a library of assessments and protocols (our intent is to maintain the library here and to provide any necessary abstractions on the API to make it easier for developers

[2019-12-02 11:39] Remi-Gau commented on #274
Finally had some time to work on this during the weekend.

What would be the alternative?

YES. Definitely needed. Did you have any idea in mind on how to go about this? I have only worked with zenodo so far but I doubt this is appropriate for what we want.

Currently I am pointing my app on my fork of the repo but this is not optimal I would say. So I am all ears about suggestions anyone might ha

[2020-01-09 15:08] sanuann opened #285 "refactor and make schema valid"
`scoringLogic`, `visibility` needs to be changed to list of objects.

[2020-02-06 13:33] #285 closed

[2020-02-20 16:04] danielmlow opened #307 "Fix and enhance the"
When this happens:
![image](https://user-images.githubusercontent.com/14787791/74953645-e8f61b00-53cf-11ea-952b-7b9be4cf04d8.png)

Then this appears
![image](https://user-images.githubusercontent.com/14787791/74953798-2195f480-53d0-11ea-9b7f-c612ea8425b3.png)

But if you click on "show result" nothing happens, it just goes to the next activity.

Option A) we could run a signal-to-noise ratio test

[2020-02-20 18:11] sanuann commented on #307
option B would be simpler to fix for the moment.

[2020-02-20 19:00] danielmlow opened #310 "Adapting for mobile cellphone use"
On my cellphone (old iphone 5s), the language and index are to the side, and this makes the activities be crammed up and narrower than they should be:
![image](https://user-images.githubusercontent.com/14787791/74968596-0b486280-53e9-11ea-969b-5d19aa5fcdce.png)

So perhaps we can place the language and index on top so it's all one column? Also the font could be a little smaller?

[2020-02-20 19:04] sanuann commented on #310
pls post this issue on the voice-study repo.

[2020-02-20 19:04] #310 closed

[2020-03-11 06:12] danielmlow commented on #307
In the English version, this interrupts as I get here:

![image](https://user-images.githubusercontent.com/14787791/76387619-bfc90a80-633d-11ea-9c68-74ab35752ea9.png)

[2020-03-11 06:38] danielmlow opened #324 "consent form"
@satra , what consent form will we use for the Malargue study (collecting data in adolescents in Argentina)? At the bottom is the one on file for our protocol.
1. Do we use this one?
2. How should it be presented?  Scroll down text and then they type their name in? Or can they just click "Accept"? That would be different than the format of this one that seems to ask questions about the consent for

[2020-03-11 06:48] #324 closed

[2020-03-11 07:04] danielmlow commented on #307
@satra Do you think Option B is fine? It might make people not continue even though audio is good enough?

[2020-03-11 12:17] satra commented on #307
@danielmlow - i'll let @sanuann tell you why you got there. probably a wrong item being used.

option B sounds ok. i would just leave it to the user. you can record for 5 seconds and play back the sound.

[2020-03-28 21:25] sanuann opened #340 "protocol should be able to override activity level allow list"
for example, skippable

[2020-04-10 12:12] satra opened #343 "add a dual answer widget and associated schema representation"
https://physicians.utah.edu/echo/pdfs/liebowitz-social-anxiety-scale.pdf

in this every question has two answers.  in addition to a new widget, this will also impact how results are represented. one way to code this potentially can be:

[code]

[2020-04-20 12:34] satra commented on #138
this has now been completed.

[2020-04-20 12:34] #138 closed

[2020-04-20 12:34] satra commented on #137
this should be ok now.

[2020-04-20 12:34] #137 closed

[2020-04-20 12:36] satra commented on #52
we should add SHACL validation:
1. to travis so that PRs can be validated.
2. provide a tool that people can use to validate their schemas.

[2020-04-24 23:57] danielmlow opened #351 "Create inputType checkbox"
So multiple choices can be selected

[2020-04-27 14:31] satra commented on #351
@sanuann - don't we already have something for `multiplechoice=True|False`

[2020-04-27 15:20] satra commented on #114
i'm going to close this as most issues have been addressed and we are now restarting protocols with a slightly different framework.

[2020-04-27 15:20] #114 closed

[2020-04-27 15:28] satra commented on #41
@sanuann - i think this is now done, right?

[2020-04-27 15:48] satra commented on #118
this was discussed and resolved by keeping items within activities.

[2020-04-27 15:48] #118 closed

[2020-04-27 15:54] satra commented on #44
this is now available at https://schema.repronim.org/rl

[2020-04-27 15:54] #44 closed

[2020-04-27 16:53] zaliqarosli commented on #118
hi @satra , how have you resolved the reusability of the items while keeping them within activities?

[2020-04-27 16:56] satra commented on #118
by direct pointers to the URLs of items. an example of reuse of elements is in this example repo:  https://github.com/sensein/covid19/

what we still need are:
- a search operation
- versioning (though technically this can be achieved by pointing to git commitish urls instead of master)

[2020-04-27 20:27] satra opened #352 "remove secondary context from items when not required"
this context is not required for the item.
https://github.com/ReproNim/reproschema/blob/master/activities/VoiceScreening/items/audio_check#L3

the default converter adds the parent context. items should be simplified to their necessary contexts.

[2020-04-27 20:30] satra commented on #46
superceded by #172

[2020-04-27 20:30] #46 closed

[2020-05-04 03:38] #352 closed

[2020-05-05 23:05] sanuann opened #358 "convert ABCD data dictionary to reproschema"

[2020-05-20 03:34] sanuann opened #364 "update reproschema schemas: Protocol, Activity, Field and responseOptions"

[2020-05-30 08:06] #364 closed

[2020-06-04 20:22] #52 closed

[2020-06-08 07:53] Remi-Gau opened #371 "How to contribute to this repository?"
Quickly opening an issue here before I forget (and go back to hackathon organizing).

And this is more to "formalize" this as some of the technical details are already in readme.

What would be the workflow for someone to contribute a schema (or a translation of one) to this repository?

Would we just go through:
- Open an issue with the details to start the conversation followed by a pull request

[2020-06-08 10:59] Remi-Gau opened #372 "How to deal with questionaire "sub-sections"?"
Small question about how to best organize schemas when there are "sub-sections".

For the [COBIDAS checklist app](https://cobidas-checklist.herokuapp.com/#/) I have sub-divided each "sub-section" of the original list of questions from neurovault into a set of separate activities all organised in the same protocol, so that using the UI each of them could be listed separately and make "browsing" eas

[2020-06-13 22:59] sanuann opened #377 "add new OR verify existing activities"

[2020-06-20 15:55] Remi-Gau commented on #130
@sanuann I believe the `schema validator` of the checklist above can be ticked, no?

[2020-06-20 16:00] Remi-Gau opened #379 "Versioning"
The question was raised in the issue #274 but unless I missed it has no been adressed.

`we need to come to a decision on versioning. the current deployment is version less.`

Feel free to close the issue, I am just talking non-sense. :wink:

[2020-06-20 16:02] Remi-Gau commented on #130
Also should a licence be added to this repo?

[2020-06-20 18:40] sanuann commented on #130
@satra

[2020-06-20 19:12] satra commented on #130
a few changes to consider in that respect.

1. a license should be added Apache 2.0 to the repo for any code.
2. the README should be updated to remove all the schema discussion and point to the docs.
3. additional license information should be added to the README to indicate:
  a. all documentation is CC-BY
  b. that each activity may come with it's own license and should be checked before use (h

[2020-06-21 07:13] Remi-Gau commented on #130
I am working on those in a separate PR that I am pushing on top of Sanu's #378 that we is pretty much turning into a create a doc PR.

[2020-06-21 07:19] Remi-Gau commented on #130
I like the "divide and conquer" approach from your suggestions, though I can foresee this will make it even more confusing for new comers.

Nothing that can't be fixed with a VERY good documentation explaining where every thing is and how it interacts with all the other moving parts. Am OK to help with that though.

One question though, how do you envision running the validation on all those diffe

[2020-06-21 14:24] satra commented on #130
i'm certainly hoping it doesn't but this will require some work.

absolutely. in the documentation i think we can create a few sections, potentially in order of increasing tech difficulty, with clear skill requirements, such as:

- Help review existing activities
- Help manage the curation process
- Create your own protocol
- Contribute changes to activities in the library (e.g. multilingual suppo

[2020-06-21 16:02] Remi-Gau commented on #372
I think I have found how to "fix" this.

Will close for now.

[2020-06-21 16:02] #372 closed

[2020-06-21 18:12] Remi-Gau opened #384 "[DOC] Documentation to do list"
## Documentation

- [ ] refactor the `structure` and  `create` page [WIP]
- [ ] setup automatic deploy of the doc when the master branch is updated
- [ ] improve a intro to JSON-LD
- [ ] list all schema properties (as in [here](https://github.com/sanuann/reproschema/blob/documentation/docs/pages/schema_props.md)) **and** mention the mandatory ones in the same table
- [x] README : remove all the sc

[2020-06-28 19:11] satra opened #392 "clean context to prefix-less keys"
i think we don't have any name collision at this point and should be able to clean the context to support prefix-less keys in documents. this should in turn further clean up the activities.

[2020-06-29 15:08] #384 closed

[2020-06-29 15:13] #371 closed

[2020-06-29 15:29] #379 closed

[2020-06-29 15:29] #274 closed

[2020-07-01 16:09] Remi-Gau opened #404 "[UI] inputType for "arrays"?"
@sanuann @satra

This might be cryptic way to describe this but for MRI and PET we are getting a lot items that require answer in terms of

`X= ; Y= ; Z= `

Very often for voxel dimension, image resolution...

It does not seem like a good idea to have 3 separate "float" items for this.

Did I miss it or is this something covered by the schema at the moment on the UI part in terms of possible input

[2020-07-01 17:01] satra commented on #404
we do something like this for language spoken question.

however, structured responses (i.e. like python dict) are definitely not supported at this point. would be interesting to consider or in terms of grouping fields and exposing them in one go.

[2020-07-01 18:42] sanuann commented on #404
for languages spoken, we have a multiselect dropdown.
There is one widget called `MultiTextInput` which is used for say given, middle and last name. Perhaps can do a similar one for the above use case.. `MultiFloatInput`?

[2020-07-02 03:57] Remi-Gau commented on #404
yup the `MultiFloatInput` idea sounds very similar to what I had in mind. This would be perfect! :+1:

[2020-07-02 04:04] sanuann commented on #404
can you please add a TODO in the issue list for this?

[2020-07-02 13:08] satra opened #405 "improve naming of scoringLogic and Scoring"
`scoringLogic` is a subset of all computations that could be performed and not all computations will be scoring. For example, one may want to do conversion from one unit to another.

proposal:
`scoringLogic` to `compute`
`Scoring` to `ComputeSpecification`

@Remi-Gau and @sanuann - i'm not set on the words here and would appreciate some input.

[2020-07-02 13:25] Remi-Gau commented on #405
Hmmm...

Trying to see this from the "new user perspective" and making sure those names are transparent enough.

`compute` and `ComputeSpecification` seem good enough to me.

If my sleep deprived brain manages to get some better idea I will get back to you. :smile:

[2020-07-09 13:40] satra commented on #405
@sanuann - could you please make the changes and update all the places where these are used?

[2020-07-09 19:26] sanuann commented on #405
`compute` and `ComputeSpecification` looks good to me too. Will update.

[2020-07-16 11:10] satra commented on #405
closed via #411

[2020-07-16 11:10] #405 closed

[2020-07-16 11:11] satra opened #412 "isVisShape uses an undefined term"
https://github.com/ReproNim/reproschema/blob/refactor-1.0/validation/reproschema-shacl.ttl#L217

should the target of isVis also be a jsExpression?

[2020-07-20 08:52] Remi-Gau commented on #3
I suspect this can be closed.

[2020-07-20 12:30] #3 closed

[2020-07-27 21:16] satra opened #421 "consider nidm:subject_id -> ndar:src_subject_id"
to harmonize with nidm output, consider switching the subject_id term.

[2020-08-04 15:52] sanuann commented on #392
this one is done.

[2020-08-04 15:52] #392 closed

[2020-08-04 15:54] sanuann opened #422 "augment the protocol, activity and field schema to indicate the copyright and license"
add https://schema.org/copyrightHolder, https://schema.org/license, https://schema.org/isProprietary to activities, protocols, and items

[2020-10-13 07:32] Remi-Gau opened #426 "generate "pre-set responses" for an item or an activity"
That "question" arose one of the COBIDAS checklist discussions but I suspect that this could also apply to some other reproschema use-cases.

How can one create "pre-set responses" to items that the user does not see and respond to, but that are still saved and exported with all the other responses?

To give an example: imagine a multi-centric study using the same protocol and you want to capture

[2020-11-19 21:14] sanuann commented on #412
the above link returns a 404 now. Perhaps this is fixed now?

[2020-11-19 21:20] satra commented on #412
this was still under refactor which has been deleted. i should really be pasting committish links.

[2020-11-19 21:20] #412 closed

[2021-03-01 05:03] sanuann opened #430 "add support for audio and video in Field questions"

[2021-03-01 05:50] #430 closed

[2021-06-18 14:16] Remi-Gau opened #440 "document upload item ?"
Quick question: there is a DocumentUpload widget in the reproschema-ui but I am not sure how if it exists in the schema.

Am I missing something?

[2021-06-18 14:18] sanuann commented on #440
yes, that widget exists. but not sure if it is updated to work with the latest reproschema format. I will check and let you know

[2021-06-18 14:20] Remi-Gau opened #441 "[DOC] dead links in the schema page"
all the links in the schema page are dead and should be fixed.

https://www.repronim.org/reproschema/30_schema/#protocol

I suspect it is a matter of updating the base URL in this file and rerunning it, no?
https://github.com/ReproNim/reproschema/blob/master/scripts/editProperties.py

[2021-06-18 14:23] Remi-Gau commented on #440
thanks :smile_cat:

[2021-12-01 11:30] Remi-Gau opened #444 "enhanced input validation as part of the `ui addPoperties` objects"
Maybe I missed this but does the schema support a way to encode rules for input validation ?

There are some checks for for some input type (float or integers for example) on the ui-side, but for example, say that response to item 2 is a numeric value that must be greater to response to item 1.

It would nice to have something about that in the schema.

One hacky way to do this would be to use `co

[2022-04-14 11:44] dnkennedy opened #446 "Bad link in "Project Structure" documentation"
In the Project Structure section (https://www.repronim.org/reproschema/20_project_structure/) of the documentation, in the "Reproschema-library" section, there is a sentence that says: "All assessments are listed in the activity folder and are served **here** if you want to visualize them." The link of "here" leads to(https://schema.repronim.org/rl/) and an error: "502 Bad Gateway / nginx/1.14.0 (

[2022-04-14 11:50] dnkennedy commented on #446
Also in that same doc, the same bad url appears at the section "Reprolib-server" :
"This contains some additional information on how the activities are served on https://schema.repronim.org/rl/."

https://schema.repronim.org/rl/ seems to be bad...

[2022-04-14 13:34] satra commented on #446
yes, we need to revive that service. i'll take a look perhaps today.

[2022-04-25 16:51] Rahul-Brito opened #447 "Get added to repo team"
Hi All,

I'm a grad student with Satra and going to be doing some work on reproschema, and I wanted to be added as a collaborator. Satra mentioned I needed to submit a PR but that confused me so I just made an issue for now :).

Cheers,

Rahul

[2022-08-26 07:40] Remi-Gau opened #448 "How to cite?"
Need to reference reproschema in a paper I am working on.
I don't think we have any ways to cite this at the moment except linking to the repo.

Suggestion: add a CITATION.CFF file, link the repo to zenodo and make a release the repo to get a zenodo DOI.

Obviously happy to hear and help implement other suggestions.

[2022-08-27 14:47] satra commented on #448
there is one here: https://zenodo.org/record/4626132 (which refers to the latest schema release).

[2022-08-29 06:06] Remi-Gau commented on #448
The first line of the read me and I manage to miss it.

I think I need more holidays.

[2022-08-29 06:06] #448 closed